APP_MODE=server
SERVER_ADDRESS=0.0.0.0:5550

API_KEY=my_super_secret_key

# Local file mappings to sync with remote clients. You can use commas or a multiline quoted block.
# Each item can map server path -> local path using '->' or '||'.
SYNC_FILES="
./local/file1.txt -> ./synced/file1.txt,
./local/file2.txt -> ./synced/file2.txt
"

POLL_INTERVAL=10s

USE_TLS=true
TLS_CERT=cert.pem
TLS_KEY=key.pem